---
layout: default
---
<div class="posts">
  <div class="col s12">
  {% for post in site.posts %}
    {% if post.type != 'project' %}
      <div class="card large">
        <div class="card-content">
          <a href="{{ site.baseurl }}{{ post.url }}"><h1><span class="card-title grey-text text-darken-4">{{ post.title }}</span></h1></a>
          <p>{{ post.content | truncatewords:60 }}</p>
        </div>
        <div class="card-action right-align">
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </div>
      </div>  
    {% endif %}
  {% endfor %}
  </div>
</div>