<!DOCTYPE html>
<html>
  <head>
    {% include default-header.html %}
  </head>

  <body>
    <div id="main" role="main" class="container">
      <div class="row">
        <div id="sidebar" role="sidebar" class="col s12 m12 l3" data-spy="affix">
            <div class="site-info">
              <img class="circle responsive-img" src="https://www.gravatar.com/avatar/a124b89b5cb44f4ff5041f8626dfeb46?s=150"/>
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
              <div class="profile-links">
                {% include svg-icons.html %}
              </div>
              <nav>
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="{{ site.baseurl }}/resume">Resume</a>
              </nav>
            </div>
        </div>
        <div id="content" role="content" class="col s12 m12 l9">
          {{ content }}
        </div>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
