<!DOCTYPE html>
<html>
  <head>
    {% include default-header.html %}
  </head>
  <body>
    <div id="main" role="main" class="container">
      <div id="sidebar" role="sidebar" data-spy="affix">
          <div class="site-avatar">
            <img src="https://www.gravatar.com/avatar/a124b89b5cb44f4ff5041f8626dfeb46?s=150"/>
          </div>
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
          <div class="profile-links">
            {% include svg-icons.html %}
          </div>
          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/resume">Resume</a>
          </nav>
      </div>
      <div id="content" role="content">
        {{ content }}
      </div>
    </div>
    {% include default-footer.html %}
    {% include analytics.html %}
  </body>
</html>
