<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <meta name="author" content="{{ site.name }}" />
    <meta name="description" content="{{ site.description }}">
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div id="main" role="main" class="container">
      <div class="row">
        <div id="sidebar" role="sidebar" class="col-sm-3" data-spy="affix">
            <div class="site-info">
              <img class="avatar" src="https://www.gravatar.com/avatar/a124b89b5cb44f4ff5041f8626dfeb46?s=150"/>
              <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
              <p class="site-description">{{ site.description }}</p>
              <div class="profile-links">
                {% include svg-icons.html %}
              </div>
              <nav>
                <a href="{{ site.baseurl }}/">Home</a>
                <a href="{{ site.baseurl }}/about">About</a>
                <a href="https://drive.google.com/open?id=0B1iTR9pl1WfvdWdQMjN6dHBueEE">Resume</a>
              </nav>
            </div>
        </div>
        <div id="content" role="content" class="col-sm-9 col-sm-offset-3">
          {{ content }}
        </div>
      </div>
    </div>
    {% include analytics.html %}
  </body>
</html>
