<!DOCTYPE html>
<html>
  <head>
    {% include default-header.html %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="site-info">
          <div class="col s12 m3">
            <img class="circle responsive-img" src="https://www.gravatar.com/avatar/a124b89b5cb44f4ff5041f8626dfeb46?s=150"/>
          </div>
          <div class="col s12 m6">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
            <div class="profile-links">
              {% include svg-icons.html %}
            </div>
            <nav>
              <a href="{{ site.baseurl }}/">Home</a>
              <a href="{{ site.baseurl }}/about">About</a>
              <a href="https://drive.google.com/open?id=0B1iTR9pl1WfvdWdQMjN6dHBueEE">Resume</a>
            </nav>
          </div>
        </div>
      </div>
      <div class="row center">
        <div class="col s6">
          <a href="{{ site.baseurl }}/posts">
            <div class="card">
              <div class="card-image">
                <img src="assets/images/optimized/project.jpg">
                <span class="card-title">Projects</span>
              </div>
            </div>
          </a>
        </div>
        <div class="col s6">
          <div class="card">
            <a href="{{ site.baseurl }}/posts">
              <div class="card-image">
                <img src="assets/images/optimized/coding.jpg">
                <span class="card-title">Posts</span>
              </div>
            </a>
          </div>            
        </div>
        <div class="col s6">
          <a href="{{ site.baseurl }}/about">
            <div class="card">
              <div class="card-image">
                <img src="assets/images/optimized/travel.jpg">
                <span class="card-title">About</span>
              </div>
            </div>
            </a>
        </div>
        <div class="col s6">
          <a href="{{ site.baseurl }}/resume">
            <div class="card">
              <div class="card-image">
                <img src="assets/images/optimized/japan.jpg">
                <span class="card-title">Resume</span>
              </div>
            </div>
          </a>
        </div>
      </div>
      {{ content }}
    </div>
    {% include analytics.html %}
  </body>
</html>